<div class="row">
  <div class="col-lg-12">
    <h1>顧客詳細</h1>
    <dl>
      <dt>お名前</dt>
      <dd><%= @customer.full_name %></dd>
      <dt>電子メール</dt>
      <dd><%= @customer.email %></dd>

    </dl>
  <div class="row">
   <div class="col-lg-12">
   <% @customer.comments.each do |comment| %>
   <div class="media-left">
    <%= image_tag comment.user.image_url %>

   </div>

   <div class="media-body">
   <p><%= simple_format(comment.body) %></p>
   <p class="text-muted">
    投稿日時：<%= comment.created_at.strftime('%Y/%m/%d %H:%M') %>
    <p><%= link_to "削除", comment_path(comment), method: :delete %></p>
    <% end %>
   </div>
  </div>

<div class="row">
  <div class="col-lg-12">
  <%= form_for @comment, url: {controller: :comments, action: :create } do |f| %>
  <div class="form-group">
  <%= f.label :body, "コメント" %><br>
  <%= f.text_field :body, class: "form-control" %>
  </div>
  <%= f.hidden_field :customer_id, value: @customer.id %>
  <%= f.hidden_field :user_id, value: @customer.id %>
  <div class="form-group">
  <%= f.submit %>
  </div>


  <% end %>
</div>

  </div>
</div>
<%= link_to "編集", edit_customer_path %>
